@-webkit-keyframes bg-gradient {

    0% {
        background-position 33% 0%
    }

    50% {
        background-position 68% 100%
    }

    100% {
        background-position:33% 0%
    }

}

@-webkit-keyframes bg-texture {

    0% {
        background-position 0 0
    }

    100% {
        background-position 800px 339px
    }

}

@keyframes scroll-indicator {

    0% {
        margin-bottom: 10px
    }
    
    100% {
        margin-bottom: 0
    }

}