button-color(col)
    background col
    border-bottom 2px solid darken(col, 30%)

    &:hover
        background lighten(col, 5%)
        border-color darken(col, 35%)

button, .button
    border-radius(3px)
    button-color(color-black)
    border 0
    text-transform uppercase
    font-size 12px
    padding 10px
    color color-white
    margin-right 10px
    font-weight 100
    font-family font-base
    text-shadow 0 1px 1px rgba(#000, .2)
    transition background .2s
    
    &:last-child
        margin-right 0

    &.button-primary
        button-color(color-success)

    &.button-respond
        button-color(color-brand)

    &.button-facebook
        button-color(color-social-fb)

    &.button-twitter
        button-color(color-social-tw)

    &.large
        padding 15px 30px
        font-size 14px

    i.icon-chevron-right
        margin-left 10px
        margin-right -5px
        opacity .5
        top 1px