body
    margin 0
    background color-white
    
    &:after
        content ''
        position fixed
        width 100%
        height 100%
        padding-bottom 100%
        left 0
        top 50%
        transform translateY(-50%)
        background color-overlay-filter
        background-image radial-gradient(lighten(color-overlay-filter, 20), darken(color-overlay-filter, 50) 100%)
        opacity .07
        z-index 9999999
        pointer-events none

section
    background color-white
    padding 100px 20px
    display block
    position relative
    z-index 1

    &:nth-child(odd)
        background color-grey-lightest

.loading
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background #fff
    text-align center
    z-index 999

    &:after
        position absolute
        content 'Loading...'
        color color-brand
        left 0
        top 50%
        width 100%
        margin-top -10px
        font-weight 200

.page-width
    max-width: 900px
    margin auto

.gender-distribution

    .pie-chart
        margin-top 30px

    .legend
        margin-bottom 40px

@-webkit-keyframes bg-gradient {

    0% {
        background-position 33% 0%
    }

    50% {
        background-position 68% 100%
    }

    100% {
        background-position:33% 0%
    }

}

@-webkit-keyframes bg-texture {

    0% {
        background-position 0 0
    }

    100% {
        background-position 800px 339px
    }

}


header
    @extends $texture-overlay
    background-color #222
    text-align center
    width 100%
    left 0
    top 0
    overflow hidden
    position relative

    &:after
        opacity .15
        mix-blend-mode multiply
        animation bg-texture 30s infinite linear, buzz 2s infinite linear

    .gradient
        opacity .4

        &:before, &:after
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 100%
            background-size 800% 800%
            animation bg-gradient 30s infinite alternate

        &:before
            background-image linear-gradient(90deg, #de20f1, #e89015, #ea243d, #5368bf)

        &:after
            background-image linear-gradient(0deg, #26bd96, #bd4926, #24ceea, #ddea24)

    .inner, .credits
        z-index 2

    .inner
        text-align center
        width 100%
        padding 200px 20px
        position relative
        box-sizing border-box

    .credits
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)

        .heart
            color color-brand

        h3
            text-transform none
            font-size 15px

        .logo
            bg-image('logo-credits', contain, center center, no-repeat, 'svg')
            width (480px / 1.5)
            height (66px / 1.5)
            display block
            margin-right 30px

    h1, h2, h3
        color color-white
        text-shadow 0 1px 2px rgba(#000, .5)

    h1
        font-size 40px
        font-weight bold

    h2
        font-size 25px
        margin-bottom 0