body
    margin 0
    background color-white

section
    padding 60px 0
    display block
    position relative

    &:nth-child(odd)
        background color-grey-lightest

.loading
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background #fff
    text-align center
    z-index 999

    &:after
        position absolute
        content 'Loading...'
        color color-brand
        left 0
        top 50%
        width 100%
        margin-top -10px
        font-weight 200

.page-width
    max-width: 800px
    margin auto