debullet()
    margin-left 0
    margin-right 0
    padding 0
    list-style none

border-radius(rad = 3px)
    border-radius rad

tail(color, dir = 'bottom', size = 10px)

    if dir == 'bottom'
        dir = 'top'
        margin-left (- size)
        top 100%
        left 50%

     else if dir == 'top'
        dir = 'bottom'
        margin-left (- size)
        bottom 100%
        left 50%

     else if dir == 'left'
        dir = 'right'
        margin-top (- size)
        right 100%
        top 50%

     else if dir == 'right'
        dir = 'left'
        margin-top (- size)
        left 100%
        top 50%

    border size solid transparent
    border-{dir}-color color

smooth-font(state = null)

    if (state == false)
        font-smoothing subpixel-antialiased
        -moz-osx-font-smoothing auto
    else
        font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

bg-image(image-name, size = false, position = false, repeat = false, ext = 'png')
    background-image: url(assets-dir + image-name + '.' + ext)

    if size
        background-size: size

    if position
        background-position: position

    if repeat
        background-repeat: repeat

    if ext != 'svg'
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5)
            background-image: url(assets-dir + image-name + '@2x.' + ext + '?v-' + cacheId)