body
    font-family font-base

h1, h2, h3, h4, h5, h6, p, ol, ul, hr
    margin-top 0
    margin-bottom 20px

    &:last-child
        margin-bottom 0

h1, h2, h3, h4, h5, h6
    font-family font-special
    font-weight 300
    text-transform uppercase

h1, h2, h3
    color color-brand

h4, h5, h6
    font-weight bold

label
    display block
    margin-top 0
    margin-bottom 10px

    &:last-child
        margin-bottom 0

.center
    text-align center

i
    position relative
    display inline-block

a
    cursor pointer
    color color-brand
    font-weight bold
    text-decoration none

&:focus
    outline 0

hr
    border 0
    background rgba(color-black, .1)
    height 1px
    position relative

    &:after
        content ''
        position absolute
        top 50%
        left 50%
        width 6px
        height @width
        line-height @width
        margin-top -(@width / 2)px
        margin-left -(@width / 2)px
        background color-brand
        transform rotate(45deg)

h1
    font-size 45px

h2
    font-size 40px

h3
    font-size 30px

h4
    font-size 25px

h5
    font-size 20px

h6
    font-size 15px

.empty
    font-style italic
    opacity .8
    font-weight 100

a.close
    color color-danger

    &:after
        content '\d7'

for key in colors-keys
    .key-color-{key}
        color darken(colors-keys[key], 10)

.text-gender-male
    color darken(color-gender-male, 10)

.text-gender-other
    color darken(color-gender-other, 10)

.text-gender-female
    color darken(color-gender-female, 10)