font-base = 'Raleway'
font-special = 'Josefin Slab'

// Greyscale colors
color-black = #333
color-grey-darker = #666
color-grey-dark = #aaa
color-grey = #ccc
color-grey-light = #EFEFEF
color-grey-lighter = #f5f5f5
color-grey-lightest = #f9f9f9
color-white = #FFFFFF

// Primary brand colors
color-brand = #e77249
color-brand-dark = darken(color-brand, 10%)
color-brand-darker = darken(color-brand, 25%)
color-brand-darkest = darken(color-brand, 40%)
color-brand-light = lighten(color-brand, 5%)
color-brand-lighter = lighten(color-brand, 10%)

// Secondary brand color
color-secondary = #405765
color-secondary-dark = darken(color-secondary, 15)
color-secondary-light = lighten(color-secondary, 15)
color-secondary-lighter = lighten(color-secondary, 30)
color-secondary-lightest = lighten(color-secondary, 50)

// Alternate colors
color-alternate = #297771
color-alternate-dark = darken(color-alternate, 15%)
color-alternate-darker = darken(color-alternate, 20%)
color-alternate-light = mix(color-alternate, color-white, 30%)
color-alternate-lighter = mix(color-alternate, color-white, 10%)
color-alternate-lightest = mix(color-alternate, color-white, 5%)

// Basic colors
color-green = #8bc86e
color-red = #e86456
color-yellow = #fcf49d

// Semantic colors
color-success = color-green
color-danger = color-red
color-warning = color-yellow
color-ruler = rgba(#000, .1)
