doctype html

html
    head
        title --

        link(rel='stylesheet', href='/static/css/styles.css')
        link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,700,700italic,100italic,100,300,300italic,600,600italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100', rel='stylesheet', type='text/css')
        link(href='/static/icons/style.css', rel='stylesheet', type='text/css')

    body

        .loading(v-if='!ready')

        template(v-if='ready')

            section: .page-width

                h2.center Change over experience

                seniority-charts(key='salary')

            section.gender-distribution: .page-width

                h2.center Gender Distribution

                p.center
                    | Out of the 
                    strong {{ totalResponses }} developers 
                    | that took our survey, 
                    span.text-gender-male {{ genderDistribution[0] }} 
                    | identified as males, 
                    span.text-gender-female {{ genderDistribution[1] }} 
                    | as female and 
                    span.text-gender-other {{ genderDistribution[2] }} 
                    | as other.

                pie-chart(
                    :values='genderDistribution',
                    :classes='[ "gender-male", "gender-other", "gender-female" ]',
                    :labels='[ "Male", "Other", "Female" ]'
                    )

                .center: .legend.inline: ul

                    li.gender-male
                        | Male 
                        span ({{ genderDistribution[0] }})

                    li.gender-other
                        | Other 
                        span ({{ genderDistribution[1] }})

                    li.gender-female
                        | Female 
                        span ({{ genderDistribution[2] }})

                interest-bar-chart(
                    :filters='[ { gender: "Male" }, { gender: "Other" }, { gender: "Female" } ]',
                    :classes='[ "gender-male", "gender-other", "gender-female" ]'
                    )

            section: .page-width

                h2.center Relevance Distribution

                relevance-map(key='salary')

        script(src='/static/js/index.js', type='text/javascript')