doctype html

html
    head
        title --

        link(rel='stylesheet', href='/static/css/styles.css')
        link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,700,700italic,100italic,100,300,300italic,600,600italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100', rel='stylesheet', type='text/css')
        link(href='/static/icons/style.css', rel='stylesheet', type='text/css')

    body

        .loading(v-if='!ready')

        template(v-if='ready')

            section: .page-width

                h2.center Gender Split

                .row

                    interest-bar-chart(
                        :filters='[ { gender: "Male" }, { gender: "Female" } ]',
                        :classes='[ "gender-male", "gender-female" ]'
                        )

            section: .page-width

                h2.center Seniority Split

                .row

                    interest-bar-chart(
                        :filters='[ { experience: "Under 1 year" }, { experience: "1-4 years" }, { experience: "4-7 years" }, { experience: "7-10 years" }, { experience: "10+ years" } ]',
                        :classes='[ "seniority-1", "seniority-2", "seniority-3", "seniority-4", "seniority-5" ]'
                        )

            section: .page-width

                h2.center Relevance Distribution

                relevance-map(key='salary')

        script(src='/static/js/index.js', type='text/javascript')