doctype html

html
    head
        title --

        link(rel='stylesheet', href='/static/css/styles.css')
        link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,700,700italic,100italic,100,300,300italic,600,600italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100', rel='stylesheet', type='text/css')
        link(href='/static/icons/style.css', rel='stylesheet', type='text/css')

        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

    body

        .loading(v-if='!ready', transition='fade'): .inner

            .shape.shape-first
            .shape.shape-second

        .page(v-if='ready', transition='fade')

            header(fixed-dist, full-height)

                .gradient

                .inner(data-role='content')

                    .bg-icon: i.icon-infographic

                    h1 Living Infographic
                    h2 The most important job factors for Developers

                .credits(data-role='credits')

                    h3
                        | Made with 
                        span.heart &#10084; 
                        | by 
                        a.logo(href='http://www.workshape.io', target='_blank')

            section(fixed-dist, full-height): .page-width.center

                i.heading-icon: i.icon-preface

                h2 Preface

                p At <a href='http://www.workshape.io' target='_blank'>Workshape.io</a>, we care deeply about what developers want from their career, and wanted to know better.

                p So, we decided to ask them directly.

                p Over the course of months, we asked developers to take a <a href='https://workshape.typeform.com/to/PrMLrh' target='_blank'>survey</a> and rate what factors they value the most when considering a job.

                p Since we're never happy with the amount of data, we decided to make this living infographic, which pulls the updated data directly from TypeForm on a hourly basis.

                p With many thanks to every single developer that completed the survey so far, we are happy to share this little page of insights with you.

                hr

                p Please note that this is still a relatively small data set ({{ totalResponses }} fully completed responses) which we are looking to expand, and as such may not be representative of every demographic and industry.

                p We also care to specify that the infographic has been built by humble developers, without a data science background - It's not perfect, but we hope to improve upon its implementation and will welcome your feedback and objections.

                p If you like what we're doing, help us get more spread by completing and sharing the <a href='https://workshape.typeform.com/to/PrMLrh' target='_blank'>survey</a>.

                .scroll-indicator

            section(fixed-dist, full-height): .page-width

                i.heading-icon: i.icon-average

                h2.center Average Ratings

                p.center.
                    Below are displayed the average ratings (Scored 1 to 10) split by category between all {{ totalResponses }} developers that completed the questionnaire.

                .interest-bar-chart-skills: interest-bar-chart(:filters='[ {} ]')

                .scroll-indicator

            section(fixed-dist, full-height): .page-width

                i.heading-icon: i.icon-experience

                h2.center Change over experience

                seniority-charts(key='salary')

            section.gender-distribution(fixed-dist): .page-width

                i.heading-icon: i.icon-gender

                h2.center Gender Distribution

                p.center
                    | Out of the 
                    strong {{ totalResponses }} developers 
                    | that took our survey, 
                    span.text-gender-male {{ genderDistribution[0] }} 
                    | identified as males, 
                    span.text-gender-female {{ genderDistribution[2] }} 
                    | as female and 
                    span.text-gender-other {{ genderDistribution[1] }} 
                    | as other.

                pie-chart(
                    :values='genderDistribution',
                    :classes='[ "gender-male", "gender-other", "gender-female" ]',
                    :labels='[ "Male", "Other", "Female" ]'
                    )

                .center: .legend.inline: ul

                    li.gender-male
                        | Male 
                        span ({{ genderDistribution[0] }})

                    li.gender-other
                        | Other 
                        span ({{ genderDistribution[1] }})

                    li.gender-female
                        | Female 
                        span ({{ genderDistribution[2] }})

                .gender-bar-chart: interest-bar-chart(
                    :filters='[ { gender: "Male" }, { gender: "Other" }, { gender: "Female" } ]',
                    :classes='[ "gender-male", "gender-other", "gender-female" ]'
                    )

            section(fixed-dist, full-height): .page-width

                i.heading-icon: i.icon-relevance

                h2.center Relevance Distribution

                p.center.
                    The following interactive map helps you explore geographical trends of relevance based om the average values
                    we've collected between all nations with 50+ responses.

                relevance-map(key='salary')

            section(fixed-dist, full-height): .page-width

                i.heading-icon: i.icon-countries

                h2.center Countries Breakdown

                p.center.
                    The following module breaks down each of the values we asked to evaluate to display the countries that scored highest and lowest relevancy in average.

                p.center.
                    Only countries with a minimum of 50 responses are considered in the following charts.

                ul.countries-breakdowns-list

                    li(v-for='key in keys')

                        label.center
                            i(:class='"icon-" + key.icon') 
                            | {{ key.label }}

                        countries-breakdown(:key='key.id')

        script(src='/static/js/index.js', type='text/javascript')