.relevance-map(:class='{ "hovered": !!hovered, "selected": !!active }')

    .tooltip(v-follow-mouse, v-if='hovered')
        h5 {{ hovered.name }}

        template(v-if='!hovered.data')
            span.empty No data

        template(v-if='hovered.data')
            span Count: 
            | {{ hovered.data.count }}
            br
            span Average: 
            | {{ hovered.data.average | floor 2 }}/10

    ul.nav
        li(v-for='k in keys', :class='{ active: key === k.id }', v-on:click='key = k.id')
            | {{ k.label }}
            span.count(v-if='active', :style='{ "background": getColor(active.name, k.id) }') {{ active.data[k.id].average | floor 2 }}

    .map: svg