.relevance-map(:class='{ "hovered": !!hovered, "selected": !!active }')

    ul.nav
        li(v-for='k in keys', :class='{ active: key === k.id }', v-on:click='key = k.id')
            i(:class='"icon-" + k.id')
            | {{ k.label }}
            span.count(v-if='active', :style='{ "background": getColor(active.name, k.id) }') {{ active.data[k.id].average | floor 2 }}

    .mode-switcher

        label Color coding

        ul
            li(:class='{ active: comparative }', v-on:click='comparative = true') Comparative
            li(:class='{ active: !comparative }', v-on:click='comparative = false') Absolute

    .legend

        label Legend

        ul
            template
            li.low {{ comparative ? "Lowest interest" : "0/10" }}
            li.mid {{ comparative ? "Average interest" : "5/10" }}
            li.high {{ comparative ? "Highest interest" : "10/10" }}
            li Insufficient data

    p.selection(:class='{ empty: !active }')

        template(v-if='!active')
            | No country selected

        template(v-if='active')
            | Viewing: 
            strong {{ active.name }} 
            a.close(v-on:click='active = null')

    p.info(v-if='info')

        template(v-if='!active')
            | Lowest interest in 
            span.key {{ key }}: 
            span.value {{ info[key].lowest }} 
            | - Highest: 
            span.value {{ info[key].highest }}

        template(v-if='active')
            | Lowest interest in 
            span.key {{ meta[active.name].lowest }} 
            | - Highest: 
            span.key {{ meta[active.name].highest }}

    .map

        svg

    .tooltip(v-follow-mouse, v-if='hovered')
        h5 {{ hovered.name }}

        template(v-if='!hovered.data')
            span.empty No data

        template(v-if='hovered.data')
            span Count: 
            | {{ hovered.data.count }}
            br
            span Average: 
            | {{ hovered.data.average | floor 2 }}/10