bar-height = 50px

bar-chart-color(base-color = color-brand)

    .fill
        background-color base-color

.bar-chart
    bar-chart-color()
    margin-bottom 20px

    &:last-child
        margin-bottom 0

    ul
        debullet()
        clearfix()

    li
        height 100%
        float left
        padding 0 5px
        box-sizing border-box
        position relative

    label
        ellipsis()
        font-size 12px
        text-align center
        width 100%

    i
        display block
        font-size 30px
        text-align center
        margin-bottom 10px
        opacity .3

    ul.labels
        margin-bottom 10px

    ul.bars
        height 300px

        .bar
            @extends $texture-overlay
            border-radius()
            padding-right 1px
            padding-bottom 1px
            box-sizing border-box
            width 100%
            height 100%
            overflow hidden
            float left

            .fill
                border-radius()
                width 100%
                height 100%
                position relative

            span
                color color-white
                display block
                width 100%
                text-align center
                font-size 10px
                position absolute
                left 0
                bottom 5px
                color rgba(color-white, .3)
                transition color .2s

            &:hover .fill span
                color rgba(color-white, 1)

    &.horizontal

        ul li
            width 100%
            float left
            height bar-height
            padding 5px 0

        ul.labels li
            padding 0
            padding-right 10px
            margin 0

        i, label
            line-height bar-height
            float right
            width auto
            margin-left 10px

        ul.bars, ul.labels
            float left

        ul.labels
            width 30%
            text-align right

        ul.bars
            width 70%

            .bar
                float none

                .fill
                    height 100%

                span
                    display none

    .bar

        &.gender-male
            bar-chart-color(color-gender-male)

        &.gender-female
            bar-chart-color(color-gender-female)

        &.gender-other
            bar-chart-color(color-gender-other)

        &.seniority-1
            bar-chart-color(color-seniority-1)

        &.seniority-2
            bar-chart-color(color-seniority-2)

        &.seniority-3
            bar-chart-color(color-seniority-3)

        &.seniority-4
            bar-chart-color(color-seniority-4)

        &.seniority-5
            bar-chart-color(color-seniority-5)

.interest-bar-chart-skills

    .bar-chart
        i = 1

        for key in colors-keys

            .bars li:nth-child({i}) .bar
                bar-chart-color(colors-keys[key])

            i = i + 1

.bar-chart-seniority .bar-chart
    margin 50px 0

    .bars li:nth-child(1) .bar
        bar-chart-color(color-seniority-1)

    .bars li:nth-child(2) .bar
        bar-chart-color(color-seniority-2)

    .bars li:nth-child(3) .bar
        bar-chart-color(color-seniority-3)

    .bars li:nth-child(4) .bar
        bar-chart-color(color-seniority-4)

    .bars li:nth-child(5) .bar
        bar-chart-color(color-seniority-5)

@media (max-width: breakpoint-mobile)

    ul.labels, ul.nav
        
        li
            padding 0
            padding-bottom 55px

            i
                font-size 20px

        label
            transform rotate(90deg)
            width 60px
            transform-origin left top
            position absolute
            left 50%
            top 30px
            margin-left 7px
            text-align left

    .bar span
        transform rotate(90deg)
        margin-bottom 10px

    .gender-bar-chart

        .bar span
            opacity 0