.box
    border-radius()
    background rgba(color-black, .05)
    padding 15px
    min-width 100px

    label
        margin 0 -15px 15px
        padding - 15px
        padding-bottom 10px
        color color-grey-darker
        font-size 12px
        text-transform uppercase
        border-bottom 1px solid color-ruler
        text-align center