ul.switch
    @extend $colored-list
    font-size 9px
    text-transform uppercase
    text-align center

    li
        width 50%
        float left
        padding 10px
        box-sizing border-box