.pie-chart
    @extends $texture-overlay
    width 250px
    max-width 100%
    margin auto
    margin-bottom 20px
    position relative

    &:after
        border-radius(100%)

    &:before
        content ''
        position absolute
        width 60%
        height @width
        left 50%
        top 50%
        transform translate(-50%, -50%)
        background color-white
        border-radius(100%)

    &:last-child
        margin-bottom 0

    svg path
        stroke color-white
        stroke-width 1.5

        &.gender-male
            fill color-gender-male

        &.gender-female
            fill color-gender-female

        &.gender-other
            fill color-gender-other

         &.seniority-1
            fill color-seniority-1

        &.seniority-2
            fill color-seniority-2

        &.seniority-3
            fill color-seniority-3

        &.seniority-4
            fill color-seniority-4

        &.seniority-5
            fill color-seniority-5

&:nth-child(odd) .pie-chart

    &:before
        background color-grey-lightest

    svg path
        stroke color-grey-lightest