.seniority-charts
    clearfix()

    .chart
        width 50%
        float left
        padding 20px
        box-sizing border-box

        @media (max-width: breakpoint-mobile)
            width 100%
            padding 20px 0

    label

        i
            font-size 30px
            display block
            opacity .4
            margin-bottom 10px

        .diff
            font-weight bold

        .gain
            color color-success

        .loss
            color color-danger

    .line-chart svg
        font-size 17px

        .chart-grid path
            stroke-width 1.5

        .chart-line
            stroke-width 2